.background{
    -fx-background-color: #2e3440;
}

.backgroundUI{
    -fx-background-color: #3b4252;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.root * {
    -fx-text-fill: #d8dee9;
}

Text {
    -fx-fill: #d8dee9;
}

.statusbar {
    -fx-background-color: #3b4252;
}

.button {
    -fx-background-color: #434c5e;
}

.button:hover {
    -fx-background-color: #4c566a;
}

Line, Polyline, EdgeLine {
    -fx-stroke: #d8dee9;
    -fx-stroke-width: 4;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
    -fx-stroke-type: centered;
}

.edgeroute {
    -fx-stroke-width: 2;
}

.edgeline_hover {
    -fx-stroke: #88c0d0;
}

.edgeline_closed {
    -fx-stroke: #bf616a;
}

.edgeline_closedhover {
    -fx-stroke: #d08770;
}

Spinner, Spinner .increment-arrow-button, Spinner .decrement-arrow-button {
    -fx-body-color: #434c5e;
    -fx-border: none;
    -fx-stroke-width: 0;
    -fx-background-color: #434c5e;
}

Spinner .increment-arrow, Spinner .decrement-arrow {
    -fx-background-color: #FFFFFF;
}

Spinner .increment-arrow-button:hover, Spinner .decrement-arrow-button:hover {
    -fx-background-color: #4c566a;
}

Spinner .text-field{
    -fx-border: none;
    -fx-background-color: #434c5e;
}